.btn {
  width: 150px;
  padding: 10px;

  font-weight: bold;

  background: #136ef6;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.d-flex {
  /* BEGIN (write your solution here) */

  /* END */
}

.flex-center {
  /* BEGIN (write your solution here) */

  /* END */
}

.mr-1 {
  /* BEGIN (write your solution here) */

  /* END */
}

.text-white {
  /* BEGIN (write your solution here) */

  /* END */
}